{% extends 'base.html' %}

{% block content %}
  <main class="container mt-3 mb-5">
    <section class="mx-auto pt-5 pb-3" style="width: 85%;">
      <div class="col-10 offset-1 text-center">
        <h1 class="h1 font-weight-bold pb-4">{{ recipe.title }}</h1>
        <div class="row">
          <div class="col">
            <span class="btn btn-outline-secondary rounded-pill px-4">{{ recipe.servings }} порций по {{ recipe.kcal }} ККал</span>
          </div>
          <div class="col">
            <span class="btn btn-outline-secondary rounded-pill px-4">{{ recipe.time }} мин</span>
          </div>
          {% if not recipe_in_fav %}
              <div class="col">
                <form action="/add_fav/{{ recipe.id }}/" method="post"><input type="submit" value="Добавить в избранное" class="btn btn-outline-danger rounded-pill px-4"></form>
              </div>
          {% else %}
              <div class="col">
                <span class="btn btn-outline-secondary rounded-pill px-4">Блюдо уже в избранном</span>
              </div>
          {% endif %}
        </div>
        <h2 class="h5 py-5 px-5 font-weight-normal" style="line-height: 1.5;">{{ recipe.description }}</h2>
      </div>

      <div class="row pt-4">
        <div class="col-5">
          <h3 class="h5 pb-3"><b>Продукты</b></h3>
          <ul class="pl-0" style="list-style: none;">
            {% for ig in recipe.ingredients %}
                <li class="mb-2 d-flex">
                  {% if user_ingredients and (ig.id in user_ingredients) %}
                      <div style="width: 25px;">
                        <img src="/static/check.svg" alt="" width="19">
                      </div>
                  {% else %}
                      <div style="width: 25px;">
                        <img src="/static/close.svg" alt="" width="19">
                      </div>
                  {% endif %}
                  <span class="pl-2">{{ ig.title }}</span>
                </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-7 pr-5">
          <h3 class="h5 pb-3"><b>Рецепт</b></h3>
          <p>{{ recipe.instruction }}</p>
        </div>
      </div>
      {% if wizard_results %}
          <div class="mt-5 text-center">
            <a href="/wizard-results/" class="btn btn-warning rounded-pill px-4"><b>Вернуться к найденным рецептам</b></a>
          </div>
      {% else %}
          <div class="mt-5 text-center">
            <a href="/wizard/" class="btn btn-warning rounded-pill px-4"><b>Искать блюда</b></a>
          </div>
      {% endif %}
    </section>

  </main>
{% endblock content %}